body {
    font-size: 1em;
    font-family: 'Lato', sans-serif;
}

#header {
    text-align: center;
}

#nav-bar {
    background-color: #8D3C30;
    text-align: end;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.nav-link {
    margin-right: 20px;
    font-size: 1.5em;
    line-height: 50px;
    text-decoration: none;
    color: white;
    transition: 0.45s;
}

.nav-link:hover {
    font-size: 1.7em;
    transition: 0.05s;
}

header img {
    width: 200px;    
    margin: 80px; 
}

#email {
    width: 500px;
    height: 50px;
    font-size: 1.5em;
    padding-left: 10px;
}

#submit {
    height: 50px;
    width: 150px;
    font-size: 1.5em;
    margin-left: 10px;
    background-color: #9B3222;
    color: white;
    border: 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

#submit:hover {
    cursor: pointer;
    border: white solid 1px;
    
}

main {
    text-align: center;
}

#benefits {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    justify-content: space-evenly;
    padding: 50px 0;
    flex-wrap: wrap;
    gap: 30px;
}

div.benefits {
    width: 360px;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    color: #6A5324;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 80px;
}

.benefits img {
    width: 50%;  
}

.container {
  padding: 10px 20px;
}

#warm-drink-icon {
    margin-right: 20px;
}

#our-story {
    color: #262626;
    margin: 250px auto;
    padding: 50px;
    font-size: 25px;
    background-color: #d2b27a;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#designs {
    padding: 50px;
    font-size: 25px;
    color: #8D3C30;
}

h1 {
    /*! padding-bottom: 50px; */
}

#designs-container {
    display: grid;
    grid-row-gap: 35px;
    grid-column-gap: 20px;
    grid-template-areas: "left1 middle1 right" 
                         "left2 middle1 right" 
                         "bottom bottom2 bottom4"
                         "bottom bottom2 bottom4";
}

.designs img {
    border: black solid 5px;
    box-sizing: border-box;
    transition: .5s ease;
}

.designs img:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    opacity: 0.75;
}

.designs {
    align-self: center;
}

#designs-container  > div:nth-of-type(1) {
    grid-area: left1;
}

#mug1, #mug4 {
    width: 40%;
    height: auto;
}

#mug2 {
    max-width: 90%;
    height: auto;
}

#mug3 {
    max-width: 96.55%;
    height: auto;
}

#mug5 {
    max-width: 70%;
    height: auto;
}

#mug7 {
    max-width: 55%;
    height: auto;
}

#mug6 {
    max-width: 90%;
    height: auto;
}

#designs-container > div:nth-of-type(2) {
    grid-area: middle1;
}

#designs-container > div:nth-of-type(3) {
    grid-area: right;
}

#designs-container > div:nth-of-type(4) {
    grid-area: left2;
}

#designs-container > div:nth-of-type(6) {
    grid-area: bottom;
}

#designs-container > div:nth-of-type(5) {
    grid-area: bottom2;
}

#designs-container > div:nth-of-type(7) {
    grid-area: bottom4;
}

@media (max-width: 900px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #email {
        width: 400px;
        font-size: 1.3em;
    }

    #submit {
        height: 50px;
        width: 120px;
        font-size: 1.2em;
        margin-left: 0px;
        margin-top: 20px;
    }
    
    #our-story {
        margin: 100px auto;
    }
    
    #designs-container {
        display: grid;
        grid-template-areas: "top1 top2" 
                             "top1 top2" 
                             "middle1 middle2"
                             "bottom1 bottom2"
                             "bottom3 bottom3";
    }
    
    #designs-container  > div:nth-of-type(1) {
        grid-area: top1;
    }

    #designs-container > div:nth-of-type(2) {
        grid-area: middle1;
    }

    #designs-container > div:nth-of-type(3) {
        grid-area: middle2;
    }

    #designs-container > div:nth-of-type(4) {
        grid-area: top2;
    }

    #designs-container > div:nth-of-type(6) {
        grid-area: bottom1;
    }

    #designs-container > div:nth-of-type(5) {
        grid-area: bottom2;
    }

    #designs-container > div:nth-of-type(7) {
        grid-area: bottom3;
    }
    
    #mug1, #mug4 {
        width: 60%;
        height: auto;
    }
    
    #mug2 {
        max-width: 90%;
        height: auto;
    }

    #mug3 {
        max-width: 86.55%;
        height: auto;
    }

    #mug5 {
        max-width: 80%;
        height: auto;
    }

    #mug7 {
        max-width: 45%;
        height: auto;
    }

    #mug6 {
        max-width: 90%;
        height: auto;
    }
} 

@media (max-width: 700px) {
    #video {
        width: 350px;
    }
    
    #mug1, #mug4 {
        width: 80%;
        height: auto;
    }
}