body {
    font-size: 1em;
    font-family: 'Lato', sans-serif;
}

#header {
    text-align: center;
}

img {
    width: 200px;    
    margin: 80px; 
}

#nav-bar {
    background-color: palegreen;
    text-align: end;
    
}

.nav-link {
    margin-left: 20px;
    font-size: 1.5em;
    line-height: 50px;
}

#email {
    width: 500px;
    height: 50px;
    font-size: 1.5em;
    padding-left: 10px;
}

#submit {
    height: 50px;
    width: 150px;
    font-size: 1.5em;
    margin-left: 10px;
}

main {
    text-align: center;
}

#benefits {
    display: flexbox;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}